<a href="https://colab.research.google.com/github/maahhhiiii/python/blob/main/assignment1_05.03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

WAP to input your marks for 3 subjects then find sum and percentage

In [11]:
#name=input("Enter your name-")
m1=int(input("Enter your mark1-"))
m2=int(input("Enter your mark2-"))
m3=int(input("Enter your mark3-"))
sum=m1+m2+m3
percentage=(sum/300)*100
print("Sum of all the marks is-",sum)
print("percentage =",percentage)

Enter your mark1-20
Enter your mark2-30
Enter your mark3-40
Sum of all the marks is- 90
percentage = 30.0

WAP to find thea area of cirlce

In [9]:
r=float(input("Enter radius of circle"))
p=3.14
area=p*r*r
print("area=",area)

Enter radius of circle2
area= 12.56

WAP to to find the area and perimeter of triangle

In [10]:
h=int(input("Enter the height of the triangle"))
b=int(input("Enter the base of the triangle"))
l=int(input("Enter the third side of triangle"))
area=0.5*h*b
p=h+b+l
print("area=",area)
print("perimeter=",p)

Enter the height of the triangle10
Enter the base of the triangle20
Enter the third side of triangle30
area= 100.0
perimeter= 60

 WAP to calculate the volume of sphre

In [12]:
r=float(input("Enter radius of Sphere"))
p=3.14
volume=4*p*r*r/3
print("Volume=",volume)

Enter radius of Sphere2
Volume= 16.746666666666666

WAP to create a list by initialzing with 5 diffrent fruits name and display them

In [13]:
l={"Apple","Guava","pineapple","Banana","Orange"}
print(l)

{'Guava', 'Orange', 'pineapple', 'Apple', 'Banana'}

WAP to input a string and display its reverse string

In [19]:
string=input("Enter a string-")
print(string[::-1])

Enter a string-Durgesh
hsegruD