<a href="https://colab.research.google.com/github/maahhhiiii/python/blob/main/Experiment-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Experiment-2
WAP to find the simple intrest and compound intrest.

In [12]:
p=int(input("Enter the principal amount-"))
r=int(input("Enter the rate of intrest-"))
t=int(input("Enter time-"))
si=(p*r*t)/100
print("SIMPLE INTREST:",si)
amount=p*(1+(r/100))**t
ci=amount-si
print("COMPOUND INTREST:",ci)

Enter the principal amount-1000
Enter the rate of intrest-5
Enter time-5
SIMPLE INTREST: 250.0
COMPOUND INTREST: 1026.2815625000003

WAP to input first name middle name adn last name into three variable and then apply concatenation

In [16]:
f=input("Enter first name:")
m=input("Enter middle name:")
l=input("Enter last name:")
print("Hey",f,m,l)

Enter first name:kaushal
Enter middle name:kumar
Enter last name:singh
Hey kaushal kumar singh

3.WAP to create a list with multiple dimensions and display the elements of it.

In [21]:
list=[["Durgseh",90,"mango"],["kaushal",99,"Banana"]]
print("Your list is:",list)

Your list is: [['Durgseh', 90, 'mango'], ['kaushal', 99, 'Banana']]

4.WAP to implement type conversion on diffrent data types

In [27]:
a=int(input("Enter a integer number"))
b=float(input("Enter a float number"))
c=a+b
print(c)
print("Type of'a' is:",type(a))
print("Type of'b' is:",type(b))
print("type of 'c' is:",type (c))

Enter a integer number10
Enter a float number100.213
110.213
Type of'a' is: <class 'int'>
Type of'b' is: <class 'float'>
type of 'c' is: <class 'float'>

5.Find the distance between 2 poins using pythagorean theorem, Where the coordinates of two points given input.

In [31]:
from math import sqrt
x1=int(input("Enter x1:"))
y1=int(input("Enter y1:"))
x2=int(input("Enter x2:"))
y2=int(input("Enter y2:"))
x=x1-x2
y=y1-y2
d=sqrt(x**2+y**2)
print("d is",d)

Enter x1:12
Enter y1:25
Enter x2:30
Enter y2:40
d is 23.430749027719962